// ***** RESET *****

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-Bold";
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "Merriweather-Light";
  src: url(../fonts/Merriweather-Light.ttf);
}

// ***** VARIABLES *****

$color1: #f2f3f3; // blanc
$color2: #f3f3f3; // gris très clair
$color3: #f3f3f34f; // menu transparent
$color4: #e4e4e4; // before/after date
$white: white;
$black: rgb(23, 23, 23);

// mixins
@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Merriweather-Light", sans-serif;
  background: url(../images/bg.jpg) fixed center/cover;
  min-height: 100vh;

  // animation au chargement
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    top: 0;
    left: 0;
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;

    @keyframes animBefore {
      to {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}
