// ***** RESET *****

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "Merriweather-Light";
  src: url(../fonts/Merriweather-Light.ttf);
}

// ***** VARIABLES *****

$color1: #f2f3f3; // blanc
$color2: #f3f3f3; // gris très clair
$color3: #f3f3f34f; // menu transparent
$white: white;
$black: rgb(23, 23, 23);

// mixins
@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Merriweather-Light", sans-serif;
  background: url(../images/bg.jpg) fixed center/cover;
  min-height: 100vh;
}
